<div class="attribution">
    <div class="grp1">
        <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.</p>
        <img src="/images/favicon-32x32.png" alt="" class="logo">
    </div>
    <p>Coded by <a href="#">Amartya Chowdhury</a>.</p>
</div>


</body>
</html>